<div class="w-full">
    <div class="cardy h-[500px] bg-dark w-full">
        <a href="{{ path('product_show', {'slug': product.id}) }}" class="text-decoration-none flex flex-col h-full">
            <div class="position-relative flex-3">
                <img src="{{ asset('assets/img/products/' ~ (product.image ?? 'playstation.jpg')) }}"

                    class="card-img-top p-3 w-full h-full object-contain" 
                    alt="{{ product.name }}"
                    onerror="this.src='{{ asset('assets/img/placeholder.webp') }}'">
                <div class="product-actions">
                    <form action="{{ path('add_to_wishlist', {'id': product.id}) }}" method="post" class="d-inline">
                        <button type="submit" class="action-btn wishlist-btn" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
                            <i class="fas fa-heart"></i>
                        </button>
                    </form>
                    <form action="{{ path('add_to_cart', {'id': product.id}) }}" method="post" class="d-inline" onsubmit="return addToCart(this, {{ product.id }});">
                        <input type="hidden" name="quantity" id="cart-quantity-{{ product.id }}" value="1">
                        <button type="submit" class="action-btn cart-btn" data-toggle="tooltip" data-placement="left" title="Add to Cart">
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="separator-line"></div>
            <div class="card-body text-light flex-1">
                <div class="flex flex-col h-full p-3">
                    <div class="mb-auto">
                        {% if product.rating %}
                            <div class="rating-stars mb-1">
                                {% for i in 1..5 %}
                                    {% if i <= product.rating %}
                                        <i class="fas fa-star"></i>
                                    {% elseif i <= product.rating + 0.5 %}
                                        <i class="fas fa-star-half-alt"></i>
                                    {% else %}
                                        <i class="far fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <h5 class="card-title chakra-petch font-bold text-xl">{{ product.name }}</h5>
                    </div>
                    <div class="mt-auto">
                        <p class="sora-light text-lg">${{ product.price }}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>